/*
smartphone design by Fred Radeff, www.akademia.ch
*/

body {
	/*background: url(bg.png);*/
	padding: 0px;
	margin: 0px;
	margin-left: 30px;
	text-align: left;
		font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;		
}
.globalsearchengine input {
	position: absolute;
	top: 90px;
	left:30px;
	background-color: #FFFFB7;
	font-size: 1.2em;
	}

#container {
	margin-top: 50px;
}

a {
	color: #003d4c;
	text-decoration: none;
	/*text-decoration: underline;
	font-weight: bold;*/
}